.card__container {
  position: relative; 
  border-radius: 10px;
  width: 350px;
  height: 500px;
  margin-top: 10px;

  display: flex;
  overflow: hidden;
}

.card__img {
  min-width: 100%;
  min-height: 100%;
  transition: transform .3s;

}

.card__img:hover {
  transform: scale(1.1);
}